.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__MACOSX

venv/
chroma_db/
chroma_db_train/
chroma_db_train_hsl/
chroma_db_cielab/
chroma_db_hsl/
node_modules/
*.pkl
pycache/
__pycache__
.env

data/
temp/

*.csv
*.jsonl